@import "tailwindcss";

:root {
  /* fonts */
  --font-dm-serif-display: "DM Serif Display", serif;
  --font-bellota-text: "Bellota Text", sans-serif;

  /* theme color */
  --primary: #2bb673;
  --primary-dark: #00683d;
  --primary-light: #ebede0;
  --secondary-1: #944446;
  --secondary-1-light: #e8d8d8;
  --secondary-2: #c98a50;
  --secondary-2-light: #ecca9c;
  --contrast-button: #73ffbc;
  --white: #ffffff;
  --text-color: #424242;
  --warning-meal-red: #f15353;
  --background: transparent;
  --foreground: #424242;

  /* font size */
  --fs-h1: clamp(60px, 3.125vw + 30px, 121px);
  --fs-h2: clamp(35px, 2.083vw + 15px, 70px);
  --fs-h2-supporting: clamp(35px, 2.083vw + 15px, 70px);
  --fs-h3: clamp(27px, 1.563vw + 12px, 54px);
  --fs-h4: clamp(27px, 1.563vw + 12px, 54px);
  --fs-h5: clamp(21px, 1.042vw + 10px, 31px);
  --fs-h5-subtitle: clamp(21px, 1.042vw + 10px, 31px);
  --fs-h6-caption: clamp(16px, 0.833vw + 8px, 24px);
  --fs-subtitle: clamp(16px, 0.625vw + 6px, 18px);
  --fs-body-text: clamp(16px, 0.625vw + 6px, 18px);
  --fs-subtitle-2: clamp(14px, 0.521vw + 5px, 16px);
  --fs-subtitle-3: clamp(12px, 0.125vw + 11.6px, 14px);
  --fs-button-primary: clamp(18px, 0.375vw + 16.8px, 24px);
  --fs-body-button-text: clamp(16px, 0.125vw + 15.6px, 18px);

  /* leading */
  --default-leading: 1.2;

  /* font weight */
  --fw-regular: 400;
  --fw-bold: 700;

  /* container */
  --container: clamp(280px,
      100% - 2 * (clamp(20px, 10.625vw - 14px, 190.33px)),
      1600px);
  --container-lg: clamp(280px,
      calc(100% - 2 * clamp(20px, 10.625vw - 14px, 85px)),
      1748px);

  --container-one-side: clamp(280px,
      100% - 1 * (clamp(20px, 10.625vw - 14px, 190.33px)),
      1600px);

  --container-lg-one-side: clamp(280px,
      calc(100% - 1 * clamp(20px, 10.625vw - 14px, 85px)),
      1748px);
  --max-w: 1920px;

  /* spacing */
  --space-10-20: clamp(10px, 0.625vw + 8px, 20px);
  --space-10-15: clamp(10px, 0.313vw + 9.000px, 15px);
  --space-14-24: clamp(14px, 0.625vw + 12.000px, 24px);
  --space-12-14: clamp(12px, 0.125vw + 11.600px, 14px);
  --space-8-30: clamp(8px, 1.375vw + 3.6px, 30px);
  --space-20-30: clamp(20px, 0.625vw + 18px, 30px);
  --space-20-25: clamp(20px, 0.313vw + 19.000px, 25px);
  --space-8-13: clamp(8px, 0.313vw + 7px, 13px);
  --space-8-17: clamp(8px, 0.563vw + 6.2px, 17px);
  --space-27-34: clamp(27px, 0.438vw + 25.6px, 34px);
  --space-46-95: clamp(46px, 3.063vw + 36.2px, 95px);
  --space-40-80: clamp(40px, 2.5vw + 32px, 80px);
  --space-34-42: clamp(34px, 0.5vw + 32.4px, 42px);
  --space-15-30: clamp(15px, 0.938vw + 12px, 30px);
  --space-15-25: clamp(15px, 0.625vw + 13.000px, 25px);
  --space-18-32: clamp(18px, 0.875vw + 15.2px, 32px);
  --space-20-85: clamp(20px, 4.063vw + 7px, 85px);
  --space-30-60: clamp(30px, 1.875vw + 24px, 60px);
  --space-30-52: clamp(30px, 1.375vw + 25.600px, 52px);
  --space-30-115: clamp(30px, 5.313vw + 13.000px, 115px);
  --space-120-180: clamp(120px, 3.75vw + 108px, 180px);
  --space-110-114: clamp(110px, 0.25vw + 109.2px, 114px);
  --space-50-99: clamp(50px, 3.063vw + 40.2px, 99px);
  --space-50-67: clamp(50px, 1.063vw + 46.6px, 67px);
  --space-50-64: clamp(50px, 0.875vw + 47.2px, 64px);
  --space-52-86: clamp(52px, 2.125vw + 45.2px, 86px);
  --space-520-827: clamp(520px, 19.188vw + 458.6px, 827px);
  --space-97-130: clamp(97px, 2.063vw + 90.4px, 130px);
  --space-60-100: clamp(60px, 2.5vw + 52px, 100px);
  --space-60-90: clamp(60px, 1.875vw + 54.000px, 90px);
  --space-64-145: clamp(64px, 5.063vw + 47.8px, 145px);
  --space-20-120: clamp(20px, 6.25vw + 0px, 120px);
  --space-22-43: clamp(22px, 1.313vw + 17.8px, 43px);
  --space-527-690: clamp(527px, 10.188vw + 494.4px, 690px);
  --space-105-136: clamp(105px, 1.938vw + 98.8px, 136px);
  --space-256-406: clamp(256px, 9.375vw + 226px, 406px);
  --space-191-290: clamp(191px, 6.188vw + 171.2px, 290px);
  --space-280-560: clamp(280px, 17.5vw + 224px, 560px);
  --space-300-526: clamp(300px, 14.125vw + 254.8px, 526px);
  --space-156-160: clamp(156px, 0.25vw + 155.2px, 160px);
  --space-100-200: clamp(100px, 6.25vw + 80px, 200px);
  --space-20-45: clamp(20px, 1.563vw + 15px, 45px);
  --space-67-75: clamp(67px, 0.5vw + 65.4px, 75px);
  --space-13-16: clamp(13px, 0.188vw + 12.4px, 16px);
  --space-13-19: clamp(13px, 0.375vw + 11.8px, 19px);
  --space-197-216: clamp(197px, 1.188vw + 193.2px, 216px);
  --space-24-45: clamp(24px, 1.313vw + 19.8px, 45px);
  --space-24-36: clamp(24px, 0.750vw + 21.600px, 36px);
  --space-40-60: clamp(40px, 1.25vw + 36px, 60px);
  --space-5-8: clamp(5px, 0.188vw + 4.4px, 8px);
  --space-254-490: clamp(254px, 14.75vw + 206.8px, 490px);
  --space-54-126: clamp(54px, 4.5vw + 39.6px, 126px);
  --space-200-240: clamp(200px, 2.5vw + 192px, 240px);
  --space-16-24: clamp(16px, 0.5vw + 14.4px, 24px);
  --space-34-130: clamp(34px, 6vw + 14.8px, 130px);
  --space-102-102: clamp(102px, 0vw + 102px, 102px);
  --space-30-40: clamp(30px, 0.625vw + 28.000px, 40px);
  --space-33-42: clamp(33px, 0.563vw + 31.2px, 42px);
  --space-260-900: clamp(260px, 40vw + 132px, 900px);
  --space-320-647: clamp(320px, 20.438vw + 254.6px, 647px);
  --space-47-111: clamp(47px, 4vw + 34.2px, 111px);
  --space-32-52: clamp(32px, 1.25vw + 28px, 52px);
  --space-23-70: clamp(23px, 2.938vw + 13.6px, 70px);
  --space-26-240: clamp(26px, 13.375vw + -16.8px, 240px);
  --space-11-36: clamp(11px, 1.563vw + 6px, 36px);
  --space-20-190: clamp(20px, 10.625vw + -14px, 190px);
  --space-150-180: clamp(150px, 1.875vw + 144px, 180px);
  --space-44-120: clamp(44px, 4.75vw + 28.8px, 120px);
  --space-44-66: clamp(44px, 1.375vw + 39.600px, 66px);
  --space-66-100: clamp(66px, 2.125vw + 59.2px, 100px);
  --space-66-80: clamp(66px, 0.875vw + 63.200px, 80px);
  --space-20-60: clamp(20px, 2.5vw + 12px, 60px);
  --space-26-32: clamp(26px, 0.375vw + 24.8px, 32px);
  --space-3-5: clamp(3px, 0.125vw + 2.6px, 5px);
  --space-20-57: clamp(20px, 2.313vw + 12.6px, 57px);
  --space-34-38: clamp(34px, 0.25vw + 33.2px, 38px);
  --space-50-60: clamp(50px, 0.625vw + 48px, 60px);
  --space-70-80: clamp(70px, 0.625vw + 68px, 80px);
  --space-60-80: clamp(60px, 1.250vw + 56.000px, 80px);
  --space-20-40: clamp(20px, 1.25vw + 16px, 40px);
  --space-6-12: clamp(6px, 0.375vw + 4.800px, 12px);
  --space-80-100: clamp(80px, 1.250vw + 76.000px, 100px);
  --space-110-140: clamp(110px, 1.875vw + 104.000px, 140px);
  --space-511-846: clamp(511px, 20.938vw + 444.000px, 846px);
  --space-310-400: clamp(310px, 5.625vw + 292.000px, 400px);
  --space-460-500: clamp(460px, 2.500vw + 452.000px, 500px);
  --space-90-180: clamp(90px, 5.625vw + 72.000px, 180px);
  --space-95-195: clamp(95px, 6.250vw + 75.000px, 195px);
  --space-40-90: clamp(40px, 3.125vw + 30.000px, 90px);
  --space-68-110: clamp(68px, 2.625vw + 59.600px, 110px);
  --space-460-270: clamp(460px, -11.875vw + 498.000px, 270px);
  --space-80-120: clamp(80px, 2.500vw + 72.000px, 120px);
  --space-40-70: clamp(40px, 1.875vw + 34.000px, 70px);
  --space-26-36: clamp(26px, 0.625vw + 24.000px, 36px);
  --space-40-48: clamp(40px, 0.500vw + 38.400px, 48px);
  --space-70-100: clamp(70px, 1.875vw + 64.000px, 100px);
  --space-40-100: clamp(40px, 3.750vw + 28.000px, 100px);
  --space-40-130: clamp(40px, 5.625vw + 22.000px, 130px);
  --space-80-85: clamp(80px, 0.313vw + 79.000px, 85px);
  --space-17-43: clamp(17px, 1.625vw + 11.800px, 43px);
  --space-122-176: clamp(122px, 3.375vw + 111.200px, 176px);
  --space-16-21: clamp(16px, 0.313vw + 15.000px, 21px);
  --space-80-170: clamp(80px, 5.625vw + 62.000px, 170px);
  --space-50-78: clamp(50px, 1.750vw + 44.400px, 78px);
  --space-60-180: clamp(60px, 7.500vw + 36.000px, 180px);

  /* size */
  --size-14-22: clamp(14px, 0.5vw + 12.4px, 22px);
}

/* tailwind.config */
@theme {
  --font-dm-serif-display: var(--font-dm-serif-display);
  --font-bellota-text: var(--font-bellota-text);

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-dark: var(--primary-dark);
  --color-primary-light: var(--primary-light);
  --color-secondary-1: var(--secondary-1);
  --color-secondary-1-light: var(--secondary-1-light);
  --color-secondary-2: var(--secondary-2);
  --color-secondary-2-light: var(--secondary-2-light);
  --color-contrast-button: var(--contrast-button);
  --color-white: var(--white);
  --color-text-color: var(--text-color);
  --color-warning-meal-red: var(--warning-meal-red);

  --breakpoint-sm: 576px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1367px;
}

/* global styles */
body {
  font-size: var(--fs-body-text);
  font-family: var(--font-bellota-text);
  font-weight: var(--fw-regular);
  line-height: var(--default-leading);
  color: var(--text-color);
}

h1 {
  font-size: var(--fs-h1);
  font-weight: var(--fw-regular);
}

h2 {
  font-size: var(--fs-h2);
  font-weight: var(--fw-regular);
}

h2.supporting {
  font-size: var(--fs-h2-supporting);
  font-weight: var(--fw-regular);
}

h3 {
  font-size: var(--fs-h3);
  font-weight: var(--fw-regular);
}

h4 {
  font-size: var(--fs-h4);
  font-weight: var(--fw-regular);
}

h5 {
  font-size: var(--fs-h5);
  font-weight: var(--fw-bold);
}

h5.subtitle {
  font-size: var(--fs-h5-subtitle);
  font-weight: var(--fw-bold);
}

h6 {
  font-size: var(--fs-h6-caption);
  font-weight: var(--fw-bold);
}

span.subtitle {
  font-size: var(--fs-subtitle);
  font-weight: var(--fw-bold);
}

span.subtitle2 {
  font-size: var(--fs-subtitle-2);
  font-weight: var(--fw-bold);
}

.h1 {
  font-size: var(--fs-h1);
  font-weight: var(--fw-regular);
}

.h2 {
  font-size: var(--fs-h2);
  font-weight: var(--fw-regular);
}

.h2.supporting {
  font-size: var(--fs-h2-supporting);
  font-weight: var(--fw-regular);
}

.h3 {
  font-size: var(--fs-h3);
  font-weight: var(--fw-regular);
}

.h4 {
  font-size: var(--fs-h4);
  font-weight: var(--fw-regular);
}

.h5 {
  font-size: var(--fs-h5);
  font-weight: var(--fw-bold);
}

.h5.subtitle {
  font-size: var(--fs-h5-subtitle);
  font-weight: var(--fw-bold);
}

.h6 {
  font-size: var(--fs-h6-caption);
  font-weight: var(--fw-bold);
}

.subtitle {
  font-size: var(--fs-subtitle);
  font-weight: var(--fw-bold);
}

.subtitle2 {
  font-size: var(--fs-subtitle-2);
  font-weight: var(--fw-bold);
}

.subtitle3 {
  font-size: var(--fs-subtitle-3);
}

.bodyBtnText {
  font-size: var(--fs-body-button-text);
  font-weight: var(--fw-bold);
}

button {
  font-family: var(--font-bellota-text);
  line-height: 120%;
}

p {
  font-size: var(--fs-body-text);
  line-height: 1.4;
}


.container,
.container-lg,
.container-fluid {
  margin: 0 auto;
}

.container {
  max-width: var(--container);
}

@media (max-width: 1367px) {
  .container {
    max-width: var(--container-lg);
  }
}

@media (max-width: 991.98px) {
  .container {
    max-width: var(--container);
  }
}

.container.left,
.container.right {
  max-width: var(--container-one-side);
}

.container.left {
  margin-right: auto !important;
  margin-left: 0;
}

.container.right {
  margin-left: auto !important;
  margin-right: 0;
}

@media (max-width: 1367px) {

  .container.left,
  .container.right {
    max-width: var(--container-lg-one-side);
  }
}

@media (max-width: 991.98px) {

  .container.left,
  .container.right {
    max-width: var(--container-one-side);
  }
}

.container-fluid {
  max-width: var(--max-w);
}

.container-lg {
  max-width: var(--container-lg);
}







.highlight {
  font-family: var(--font-dm-serif-display);
}

.normalize {
  font-family: var(--font-bellota-text);
}

/* dark mode */
/* .dark {
  --color-background: #121212;
  --color-foreground: #ffffff;
  --color-text-color: #e0e0e0;
} */

@layer utilities {
  @keyframes accordion-down {
    from {
      height: 0;
    }

    to {
      height: var(--radix-accordion-content-height);
    }
  }

  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }

    to {
      height: 0;
    }
  }

  @keyframes gradientMove {
    0% {
      background-position: 0% 100%;
    }

    50% {
      background-position: 100% 0%;
    }

    100% {
      background-position: 0% 100%;
    }
  }

  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }

    50% {
      background-position: 100% 50%;
    }

    100% {
      background-position: 0% 50%;
    }
  }



  .animated-gradient {
    background: linear-gradient(163deg, rgba(43, 182, 115, 0.00) 55.33%, rgba(43, 182, 115, 0.40) 100%), #FFF;
    background-size: 120% 120%;
    animation: gradient-animation 12s ease infinite;
  }

  .animate-accordion-down {
    animation: accordion-down 0.3s ease-out forwards;
  }

  .animate-accordion-up {
    animation: accordion-up 0.3s ease-out forwards;
  }
}

@media (min-height: 930px) {
  .tall-screen {
    @apply top-[100%];
  }
}